@CHARSET "UTF-8";
/*
 * Title:   Rizzo's Finances Database 2
 * Author:  Rizzo Productions
 * Version: 0.2
 *
 * File:    common.css
 * Used in: index.html
 *          settings.html
 *          sheet.html 
 *
 * Created on Oct 29, 2023
 * Updated on Sep 13, 2024
 *
 * Description: The css common page.
 * Build for: Chromium based and Firefox browsers. 
 *
 * Links: https://freefrontend.com/css-tab-bars/
 *        https://codepen.io/abenjamin/pen/XbbdZJ/
 *	  https://alvarotrigo.com/blog/hamburger-menu-css/
 *        https://codepen.io/alvarotrigo/pen/yLzaPVJ
 *
 */

/* Tip 1: top, right, bottom, left */
/* Tip 2: 0.8em = 8px, 1em = 10px, 1.2em = 12px */

/* Needed for the YearPicker */
*,
*::after,
*::before {
  box-sizing: border-box;
} 

/* Body and main parts of the page. */
html, body {
  height: 100%;
  margin: 0;
  font-family: arial, sans-serif;  
  display: none; /* For the fade in effect. */  
}

body {
  display: flex;
  flex-direction: column;
}

/* Header part */
header {
  background: #f5f5f5; 
  color: #000;
  padding: 10px;
  height: 8em; /* FF fix 1 */
}

h1 {
  margin: 7px 0 7px 0;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

h2 {
  margin: 7px 0 7px 0;	
  text-align: center;
}

/* Hamburger menu */
#menu_toggle {
  opacity: 0;
}
#menu_toggle:checked + .menu_btn > span {
  transform: rotate(45deg);
}
#menu_toggle:checked + .menu_btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu_toggle:checked + .menu_btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu_toggle:checked ~ .menu_box {
  left: 0 !important;
}
.menu_btn {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 15;
}
.menu_btn > span,
.menu_btn > span::before,
.menu_btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: .25s;
}
.menu_btn > span::before {
  content: '';
  top: -8px;
}
.menu_btn > span::after {
  content: '';
  top: 8px;
}
.menu_box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;  
  background-color: #ECEFF1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
  z-index: 10;
}

.menu_box .user {
  display: flex;
  align-items: center;
  margin-left: 25px;  
}

.menu_box img {
  width: 32px;
  height: 32px;    
}

.menu_box span {
 padding-top: 7px;
 padding-left: 3px;
}

.menu_box ul {
  padding: 20px 0;    
  list-style: none;    
}

.menu_item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 120%;
  font-weight: 300;
  text-decoration: none;
  transition-duration: .25s;
}
.menu_item:hover {
  background-color: #CFD8DC;
}

/* Slide tabs */
.clear{
  clear: both;
}

#slide6 {
  display: none;
}

#slide12 {
  display: none;
}

.slide-toggle{
  display: none;
}

.slidemenu{
  font-family: arial, sans-serif;
  margin: 0px 30px;
  overflow: hidden;
}

.slidemenu label{
  width: 16.66%;
  text-align: center;
  display: block;
  float: left;
  color: #333;
  opacity: 0.2;
  font-size: 1.2em;
}

.slidemenu label:hover{
  cursor: pointer;
  color: #666;
}

.slidemenu label span{
  display: block;
  padding: 10px;    
}

/*Bar Style*/
.slider{
  width: 100%;
  height: 5px;
  display: block;
  background: #ccc;
  margin-top: 10px;
  border-radius: 5px;
}

.slider .bar{
  width: 16.66%;
  height: 5px;
  background: #333;
  border-radius: 5px;
}

/*Animations*/
.slidemenu label, .slider .bar {
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
}

/*Toggle*/
.slidemenu .slide-toggle:checked + label{
  opacity: 1;
  font-weight:bold;  
}

/* Slide with 6 bar items (16.67%) */
.slidemenu #slide6-item-0:checked ~ .slider .bar{ margin-left: 0; }
.slidemenu #slide6-item-1:checked ~ .slider .bar{ margin-left: 16.67%; }
.slidemenu #slide6-item-2:checked ~ .slider .bar{ margin-left: 33.33%; }
.slidemenu #slide6-item-3:checked ~ .slider .bar{ margin-left: 50%; }
.slidemenu #slide6-item-4:checked ~ .slider .bar{ margin-left: 66.67%; }
.slidemenu #slide6-item-5:checked ~ .slider .bar{ margin-left: 83.33%; }

/* Slide with 12 bar items (8.33%) */
.slidemenu #slide12-item-0:checked ~ .slider .bar{ margin-left: 0; }
.slidemenu #slide12-item-1:checked ~ .slider .bar{ margin-left: 8.33%; }
.slidemenu #slide12-item-2:checked ~ .slider .bar{ margin-left: 16.67%; }
.slidemenu #slide12-item-3:checked ~ .slider .bar{ margin-left: 25%; }
.slidemenu #slide12-item-4:checked ~ .slider .bar{ margin-left: 33.33%; }
.slidemenu #slide12-item-5:checked ~ .slider .bar{ margin-left: 41.67%; }
.slidemenu #slide12-item-6:checked ~ .slider .bar{ margin-left: 50%; }
.slidemenu #slide12-item-7:checked ~ .slider .bar{ margin-left: 58.33%; }
.slidemenu #slide12-item-8:checked ~ .slider .bar{ margin-left: 66.67%; }
.slidemenu #slide12-item-9:checked ~ .slider .bar{ margin-left: 75%; }
.slidemenu #slide12-item-10:checked ~ .slider .bar{ margin-left: 83.33%; }
.slidemenu #slide12-item-11:checked ~ .slider .bar{ margin-left: 91.67%; }

/* Content part */
.content_container {
  display: flex;
  flex: 1;
}

.content_nav {
  order: -1;
}

.content_main {
 flex: 1;  
}

/* Page buttons */
#page_buttons {
   position: absolute;
   margin-top: 5px;
   margin-left:30px;
}

#page_buttons img {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.side {
  flex: 0 0 5em;
  background: #f5f5f5;
}

/* Tables container, see also: https://codepen.io/paulobrien/pen/LBrMxa */
#table_container {
 position: relative;
 width:calc(100% - 10px);
 z-index: 1;
 margin: auto;
 overflow: auto;
 /*height: 350px;*/
}

#table_container:-moz-read-only {
  scrollbar-color: #808080 #dcdcdc;
}    

/* Works on Chrome, Edge, and Safari */
#table_container::-webkit-scrollbar {
  width: 12px;
}

#table_container::-webkit-scrollbar-track {
  background: #dcdcdc;
  border-radius: 20px;
}

#table_container::-webkit-scrollbar-thumb {
  background-color: #808080;
  border-radius: 20px;
  border: 3px solid #dcdcdc;
}

#table_container table {
 width: calc(100% - 90px);
 margin: auto;
 border-collapse: separate;
 border-spacing: 0;
 cursor: default;
}

#table_container td {
 padding: 2px;
 background: #fff;
 vertical-align: top; 
}

#table_container thead th {
 text-align:left;   
 background: #fff;
 position: -webkit-sticky;
 position: sticky;
 top: 0;
}

#table_container td,
#table_container thead th {
 font-size: 0.9em;    
 max-width: 0;
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;       
}

#table_container th img {
 vertical-align: middle;
 cursor: pointer;
}

#table_container tbody td{
 border-bottom:1px solid #afdcec; 
}

#table_container thead th:first-child,
#table_container tbody td:first-child {
 color:#fff;
 width: 0.5%;
}

#table_container tbody tr:last-child td,
#table_container tbody tr:last-child:hover td {
 border-bottom:0px; 
}

#table_container tbody tr:hover td{
 border-bottom:1px solid #f6358a; 
}

#table_container .marked td {
 background-color: #fffdd0;
 transition-property: all;
 transition-duration: 1s;
}

#table_container .marked td:first-child {
 color: #fffdd0;
}

#table_container .unmark td {
 background-color: #fff;
 transition-property: all;
 transition-duration: 1s;
}

#table_container .add td {
 background-color: #d0f0c0;
 transition-property: all;
 transition-duration: 1s;
}

#table_container .add td:first-child {
 color: #d0f0c0;
}

#table_container .delete td {
 background-color: #ff8585;
 transition-property: all;
 transition-duration: 1s;
}

#table_container .delete td:first-child {
 color: #ff8585;
}

#table_container .hide td {
 color:gainsboro;
 font-style: italic;
}

/* Safari and ios need the tfoot itself to be position:sticky also */
#table_container tfoot,
#table_container tfoot td {
 position: -webkit-sticky;
 position: sticky;
 bottom: 0;
 z-index:4;
}

/* Popup Window */
#popup_container {
 position: fixed;
 top: 50px;
 left: 0px;
 width: 100%;
 height: 100%;
 display: none;
 z-index: 5
}

#popup_content {
 width: 55%;
 margin: 0 auto;
 padding: 5px 20px 20px 20px;
 margin-top: 100px;
 border-radius: 3px;
 background: #f5f5f5;
 position: relative;
 border: 1px solid #999; 
 border-radius: 3px;
 box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.2);
 text-align: center;
}

#popup_content h2 {
 font-weight: normal;
 font-size: 1.4em;
 text-decoration: underline;
 color: #000;
}

#popup_content table {
 width: calc(90% - 10px);
 margin: auto;
 border-collapse: separate;
 border-spacing: 0;
}

#popup_content th, 
#popup_content td {
 text-align:left;
 font-size: 0.9em;
}

#popup_content .msg {
 text-align: center;
 color: maroon;
 font-weight: bold;
 font-size: 0.9em;
 padding: 10px 0px;
}

#popup_content table .warning {
 text-align: center;
 color: #da9100;
 font-weight: bold;    
 font-style: italic;
}

#popup_content input {
 font-size: 1em;  
 cursor: pointer;
 width: 100%;
}

#popup_content input[type=text],
#popup_content input[type=password] {
 border-radius: 5px;
 font-weight: normal;    
 padding: 3px 5px;
 border: 1px solid #e8e8e8; 
}

#popup_content input[type=text]:hover,
#popup_content input[type=password]:hover {
 border-color: #dbdbdb;
 cursor: text;
}

#popup_content input[type=text]:focus,
#popup_content input[type=password]:focus {
 outline: none !important;
 border-color: #999;
}

#popup_content a {
 position: absolute;
 top: 5px;
 right: 12px;
 font-size: 17px;
 color: #000;
 text-decoration: none;
}

#popup_content .choice {
 position: absolute;
 bottom: 5px;
 right: 7px;
}

#popup_content .btn,
#popup_content .shw,
#popup_content .srt,
#popup_content .choice input[type=image] {
 width: 24px;
 height: 24px;
 cursor: pointer;
}

#popup_content .btn {
 margin-top: 3px;    
}

#popup_content .close {
 color: #999;
}

#popup_content .close:hover {
 color:darkred;
}

#rank {
 background-color: #dcdcdc;    
}

/* Loading spinner */
#loading {
 display: none;    
 position: fixed;
 width: 100%;
 height: 100%;
 top: 0;
 left: 0;
 z-index: 9;
 background: url("../img/loading.gif") center no-repeat;
}

/* Footer */
footer {
 background: #f5f5f5; 
 color: #000;
}

footer h3 {
 font-size: 0.8em;
 font-weight: normal;
 text-align: center;
}

/* Error popup message */
#popup_error {
 position: fixed;
 top: 50px;
 left: 0px;
 width: 100%;
 height: 100%;
 display: none;
 z-index: 10;
}

#error {
 font-family: Verdana;
 width: 55%;
 margin: 0 auto;
 padding: 20px;
 margin-top: 100px;
 border-radius: 3px;
 background: #ffffc1;
 position: relative;
 border: 1px solid maroon; 
 border-radius: 3px;
 box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.2);
}

#error h2 {
 font-weight: normal;
 font-size: 16pt;
 text-align: left; 
 color: red;
}
 
#error p {
 font-size:14pt;
 color:maroon;
}

#error .close {
 position: absolute;
 top: 5px;
 right: 12px;
 font-size: 17px;
 color: maroon;
 text-decoration: none;
}

#error .close:hover {
 color:red;
}

/* Firefox fixes */
@supports (-moz-appearance:none) {
    header { height: 7.8em; }  /* fix 1 */
}
