@CHARSET "UTF-8";
/*
 * Title:   Rizzo's Finances Database 2
 * Author:  Rizzo Productions
 * Version: 0.2
 *
 * File:    dashboard.css
 * Used in: dashbord.php
 *
 * Created on Oct 18, 2023
 * Updated on Aug 20, 2024
 *
 * Description: The css tabs demo 1 page.
 * Build for: Chromium based and Firefox browsers. 
 *
 */

/* Tip 1: top, right, bottom, left */
/* Tip 2: 0.8em = 8px, 1em = 10px, 1.2em = 12px */

/* Body and main parts of the page. */

/* Initialize slides (hide inactive slides) */
#activa_main { 
  height: calc(100% - 38px);
}

/* Activa flex containers and items. */
#activa_main .flex_container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  height: 50%;  
  
/*  background-color: #ECEFF1; /* Test */
}

#activa_main .flex_top:nth-child(1) {
  flex: 0 1 auto;  
  height: 100%;
  width: 60%;  
  
/* background-color: #c2fbd7; /* Test */
}

#activa_main .flex_top:nth-child(2) {
  flex: 0 1 auto;    
  height: 100%;
  width: 40%;   
  
  background-color: #ffffc1; /* Test */
}

#activa_main .flex_bottom {
  flex: 0 1 auto;    
  height: 100%;
  width: 100%;   
  
  background-color: #afdcec; /* Test */
}

/* Other slide content (TEST) */
#test01, /* These slides are only for test purposes. */
#test02 {
 display: none;
}

/* Inpunt date */
#input_date {
 text-align: center;
 padding-top: 10px;
 font-size: 0.9em;
}

#input_date span {
 font-family: verdana;
}

/* Labels */
.label {
 margin: 10px 50px 15px 50px;
 font-size: 1.1em;
}

.label span {
 display: inline-block;
 width: 200px;
 background-color: #f5f5f5;
 padding: 3px;
}

