@CHARSET "UTF-8";
/*
 * Title:   Rizzo's Finances Database 2
 * Author:  Rizzo Productions
 * Version: 0.1
 *
 * File:    login.css
 * Used in: index.html
 *
 * Created on Dec 21, 2023
 * Updated on Dec 21, 2023
 *
 * Description: The css for the login page.
 *
 */

/* Tip 1: top, right, bottom, left */
/* Tip 2: 0.8em = 8px, 1em = 10px, 1.2em = 12px */




/* Footer */
footer {
 position: absolute;    
 bottom: 0px;
 width: 100%;
}
