@CHARSET "UTF-8";
/*
 * Title:   Rizzo's Finances Database 2
 * Author:  Rizzo Productions
 * Version: 0.1
 *
 * File:    login.css
 * Used in: index.html
 *
 * Created on Dec 21, 2023
 * Updated on Jan 01, 2024
 *
 * Description: The css for the login page.
 *
 */

/* Tip 1: top, right, bottom, left */
/* Tip 2: 0.8em = 8px, 1em = 10px, 1.2em = 12px */

body{   
 background: #f5f5f5;  
}

#login_box{  
 border: solid gray 1px;  
 width:25%;  
 border-radius: 2px;  
 margin: 120px auto;  
 background: white;  
 padding: 50px;
}

#login_box h1 {
 font-size: 1.4em;
}

#login p{
 display: flex;
 align-items: center; 
}

img {
 width: 32px;
 height: 32px;  
 margin-right: 5px;
}





/* Footer */
footer {
 position: absolute;    
 bottom: 0px;
 width: 100%;
}
