@CHARSET "UTF-8";
/*
 * Title:   Rizzo's Finances Database 2
 * Author:  Rizzo Productions
 * Version: 0.1
 *
 * File:    settings.css
 * Used in: settings.html
 *
 * Created on Oct 18, 2023
 * Updated on Mar 15, 2024
 *
 * Description: The css tabs demo 1 page.
 * Build for: Chromium based and Firefox browsers. 
 *
 */

/* Tip 1: top, right, bottom, left */
/* Tip 2: 0.8em = 8px, 1em = 10px, 1.2em = 12px */

/* Body and main parts of the page. */

#settings {
 text-align: center;
 padding-top: 10px;
 font-size: 0.9em;
}

#label {
 margin: 10px 50px 15px 50px;
 font-size: 1.1em;
}

#label span {
 display: inline-block;
 width: 200px;
 background-color: #f5f5f5;
 padding: 3px;
}

/* Settings tables */
.tbl_services tbody td:nth-child(2) {
 width: 25%;
}

.tbl_services tbody td:last-child {
 width: 45%;
}

/* Popup window */
#popup_container {
 position: fixed;
 top: 50px;
 left: 0px;
 width: 100%;
 height: 100%;
 display: none;
 z-index: 5
}

#popup_content {
 width: 55%;
 margin: 0 auto;
 padding: 5px 20px 20px 20px;
 margin-top: 100px;
 border-radius: 3px;
 background: #f5f5f5;
 position: relative;
 border: 1px solid #000; 
 border-radius: 3px;
 box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.2);
 text-align: center;
}

#popup_content h2 {
 font-weight: normal;
 font-size: 1.4em;
 text-decoration: underline;
 color: #000;
}
 
#popup_content .popup_list {
 font-size: 1em;
 display: inline-block;
 text-align: left;
 list-style-type: none;
 margin: 0px 20px 20px 0px;
}

#popup_content table {
 width: calc(90% - 90px);
 margin: auto;
 border-collapse: separate;
 border-spacing: 0;
}

#popup_content th, 
#popup_content td {
 text-align:left;
 font-size: 0.9em;
}

#popup_content table .msg {
 text-align: center;
 color: maroon;
 font-weight: bold;
}

#popup_content input {
 font-size: 1em;  
 cursor: pointer;
 width: 100%;
}

#popup_content input[type=text],
#popup_content input[type=password] {
 font-weight: normal;    
 padding: 1px 5px;
}

/*
#popup_content input[type=text]:focus,
#popup_content input[type=password]:focus {
    outline: none !important;
    border: 1px solid #000;
}
*/

/*
#popup_content .inactive {
  color: #808080;
}

#popup_content .inactive .selected {
  color: #000;
}
*/

#popup_content a {
 position: absolute;
 top: 5px;
 right: 12px;
 font-size: 17px;
 color: #000;
 text-decoration: none;
}

#popup_content .choice {
 position: absolute;
 bottom: 5px;
 right: 7px;
}

#popup_content .btn,
#popup_content .shw,
#popup_content .choice input[type=image] {
 width: 24px;
 height: 24px;
 cursor: pointer;
}

#popup_content .btn {
 margin-top: 3px;    
}

#popup_content .close:hover {
 color:darkred;
}

#popup_container .gen_language, 
#popup_container .gen_pages {
 width: 30% !important;
}

#popup_container .gen_users {
 width: 50% !important;
}

#popup_container .gen_services,
#popup_container .fin_accounts {
 width: 70% !important;
}

.popup_table_finance td {
 padding: 0px 5px;
}

/*
.popup_table_finance input[type=text] {
 font-weight: normal;    
 padding: 0px 5px;
}
*/

.popup_table_finance #date {
   width:150px; 
}    



/* Radio and checkbox buttons */
.popup_list li,
.popup_table_setting li {
  display: inline-block;
  position: relative;
  padding: 0 6px;
  margin: 10px 0 0;
  display: table; /* Display items vertical */
}

.popup_list td li,
.popup_table_setting td li  {
  margin: -6.5px 0 0;
}
    
.popup_list li label,
.popup_table_setting li label {
  font-weight: normal;
}

.popup_list li label:before,
.popup_table_setting li label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  margin: 0 5px 0 0;
  width: 20px;
  height: 20px;
  border: 2px solid #808080; /*#536878; */
  background-color: transparent;
}

.rad input[type='radio'],
.chk input[type='checkbox'] {
  display: none;
}

.rad input[type='radio']:checked + label:after,
.chk input[type='checkbox']:checked + label:after {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 9px;
  left: 10px;
  content: " ";
  display: block;
  background: #808080; /* #536878; */
}

.rad label:before,
.rad input[type='radio']:checked + label:after {
  border-radius: 11px;
}
