@CHARSET "UTF-8";
/*
 * Title:   Rizzo's Finances Database 2
 * Author:  Rizzo Productions
 * Version: 0.1
 *
 * File:    settings.css
 * Used in: settings.html
 *
 * Created on Oct 18, 2023
 * Updated on Mar 08, 2025
 *
 * Description: The css settings page.
 * Build for: Chromium based and Firefox browsers. 
 *
 */

/* Tip 1: top, right, bottom, left */
/* Tip 2: 0.8em = 8px, 1em = 10px, 1.2em = 12px */

/* Body and main parts of the page. */

#settings {
 text-align: center;
 padding-top: 10px;
 font-size: 0.9em;
}

#label {
 margin: 10px 50px 15px 50px;
 font-size: 1.1em;
}

#label span {
 display: inline-block;
 width: 200px;
 background-color: #f5f5f5;
 padding: 3px;
}

/* Settings tables */
.tbl_users thead th:nth-child(2) {
 width: 12%
}

.tbl_users thead th:nth-child(3) {
 width: 56%
}

.tbl_users thead th:nth-child(4), 
.tbl_users thead th:nth-child(5) {
 width: 15%
}

.tbl_services thead th:nth-child(2) {
 width: 25%;
}

.tbl_services thead th:last-child {
 width: 45%;
}

.tbl_config thead th:nth-child(2) {
 width: 15%;
}

.tbl_config thead th:nth-child(3) {
 width: 85%;
}

.tbl_accounts th:nth-child(2) {
 width: 10%; 
}

.tbl_accounts th:nth-child(3),
.tbl_accounts th:nth-child(4) {
 width: 20%; 
}

.tbl_accounts th:nth-child(6) {
 width: 49%; 
}

.tbl_groups th:nth-child(2) {
 width: 30%; 
}

.tbl_groups th:nth-child(3) {
 width: 7%; 
}

.tbl_groups th:nth-child(4) {
 width: 62%; 
}

.tbl_businesses th:nth-child(2),
.tbl_businesses th:nth-child(3) {
 width: 30%; 
}

.tbl_businesses th:nth-child(4) {
 width: 7%; 
}

.tbl_businesses th:nth-child(5) {
 width: 32%; 
}

.tbl_cryptocurrenties th:nth-child(2) {
 width: 20%;
}

.tbl_cryptocurrenties th:nth-child(3) {
 width: 15%;
}

.tbl_cryptocurrenties th:nth-child(4) {
 width: 15%;
}

.tbl_cryptocurrenties th:nth-child(5) {
 width: 49%;
}

.tbl_wallets th:nth-child(2), 
.tbl_wallets th:nth-child(3) {
 width: 20%;  
}

.tbl_wallets th:nth-child(4) {
 width: 10%;  
}

.tbl_wallets th:nth-child(5) {
 width: 49%;  
}

/* Settings popups */
#popup_content .popup_list {
 font-size: 1em;
 display: inline-block;
 text-align: left;
 list-style-type: none;
 margin: 0px 20px 20px 0px;
}

#popup_container .gen_language, 
#popup_container .gen_pages {
 width: 30% !important;
}

#popup_container .gen_configs {
 width: 35% !important;
}

#popup_container .gen_users {
 width: 50% !important;
}

#popup_container .gen_services,
#popup_container .fin_accounts,
#popup_container .gen_wallets {
 width: 70% !important;
}

#popup_container .gen_businesses {
 width: 60% !important;
}

.gen_groups .popup_table_setting td:nth-child(2) {
 width: 32%;
}

.gen_groups .popup_table_setting td:nth-child(3) {
 width: 6%;
}

.gen_groups .popup_table_setting td:nth-child(4) {
 width: 62%;
}

.gen_businesses .popup_table_setting td:nth-child(2) {
 width: 24%;
}

.gen_businesses .popup_table_setting td:nth-child(3) {
 width: 25%;    
}

.gen_businesses .popup_table_setting td:nth-child(4) {
 width: 5%;    
}

.gen_businesses .popup_table_setting td:nth-child(5) {
 width: 45%;    
}

.gen_configs .popup_table_setting td {
 padding-bottom: 2px;
}

.popup_table_setting td,
.popup_table_finance td {
 padding: 0px 5px;
}

.popup_table_setting .color {
 width: 3%;
 border: 2px solid #f5f5f5;
}

.popup_table_finance td:nth-child(3) {
 width: 24%;
}

.popup_table_finance td:nth-child(4) {
 width: 24%;
}

.popup_table_finance td:nth-child(5) {
 width: 38%;
}

.popup_table_finance #date {
 width:90px; 
}    

.gen_currenties .popup_table_setting td:nth-child(2) {
 width: 30%;
}

.gen_currenties .popup_table_setting td:nth-child(3) {
 width: 12%;
}

.gen_currenties .popup_table_setting td:nth-child(4) {
 width: 15%;
}

.gen_currenties .popup_table_setting td:nth-child(5) {
 width: 42%;
}

.gen_wallets .popup_table_setting td:nth-child(2),
.gen_wallets .popup_table_setting td:nth-child(3) {
 width: 24%;
}

.gen_wallets .popup_table_setting td:nth-child(4) {
 width: 12%;
}

.gen_wallets .popup_table_setting td:nth-child(5) {
 width: 38%;
}

/* Radio and checkbox buttons */
.popup_list li,
.popup_table_setting li {
  display: inline-block;
  position: relative;
  padding: 0 6px;
  margin: 10px 0 0;
  display: table; /* Display items vertical */
}

.popup_list td li,
.popup_table_setting td li  {
  margin: -6.5px 0 0;
}
    
.popup_list li label,
.popup_table_setting li label {
  font-weight: normal;
}

.popup_list li label:before,
.popup_table_setting li label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  margin: 0 5px 0 0;
  width: 20px;
  height: 20px;
  border: 2px solid #808080; /*#536878; */
  background-color: transparent;
  cursor: pointer;
}

.rad input[type='radio'],
.chk input[type='checkbox'] {
  display: none;
}

.rad input[type='radio']:checked + label:after,
.chk input[type='checkbox']:checked + label:after {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 9px;
  left: 10px;
  content: " ";
  display: block;
  background: #808080; /* #536878; */
  cursor: pointer;
}

.rad label:before,
.rad input[type='radio']:checked + label:after {
  border-radius: 11px;
}
