@CHARSET "UTF-8";
/*
 * Title:   Rizzo's Finances Database 2
 * Author:  Rizzo Productions
 * Version: 0.1
 *
 * File:    sheet.css
 * Used in: sheet.html
 *
 * Created on Oct 01, 2023
 * Updated on Oct 07, 2023
 *
 * Description: The css sheet page.
 * Build for: Chromium based and Firefox browsers. 
 *
 */

/* Tip 1: top, right, bottom, left */
/* Tip 2: 0.8em = 8px, 1em = 10px, 1.2em = 12px */

/* Body and main parts of the page. */
html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

/* Header part */
header {
  background: #f5f5f5; 
  color: #000;
  padding: 10px;
  height: 6.5em; /* FF fix 1 */
}

h1 {
  margin: 7px 0 7px 0;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

h2 {
  margin: 7px 0 7px 0;	
  text-align: center;
}

/* Header buttons (tabs) */





/* Content part */
.content_container {
  display: flex;
  flex: 1;
}

.content_nav {
  order: -1;
}

.content_finance {
  flex: 1;
}

.side {
  flex: 0 0 4em; /* FF fix 2 */
  background: #f5f5f5;
}

  

/* Footer */
footer {
 background: #f5f5f5; 
 color: #000;

}

footer h3 {
 font-size: 0.9em;
 font-weight: normal;
 text-align: center;
}



/* Firefox fixes */
@supports (-moz-appearance:none) {
    header { height: 8em; }  /* fix 1 */
    .side { flex: 0 0 5em;} /* fix 2 */
}  