@CHARSET "UTF-8";
/*
 * Title:   Rizzo's Finances Database 2
 * Author:  Rizzo Productions
 * Version: 0.1
 *
 * File:    sheet.css
 * Used in: sheet.html
 *
 * Created on Oct 18, 2023
 * Updated on Dec 17, 2023
 *
 * Description: The css tabs demo 1 page.
 * Build for: Chromium based and Firefox browsers. 
 *
 * Links: https://jsfiddle.net/7pttcgvw/
 *
 */

/* Tip 1: top, right, bottom, left */
/* Tip 2: 0.8em = 8px, 1em = 10px, 1.2em = 12px */

/* YearPicker */
.picker {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 2%;
}

.yearpicker {
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-top: -7px;
}

/* Popup input window */
.close {
 position: absolute;
 top: 5px;
 right: 12px;
 font-size: 17px;
 color: #000;
 text-decoration: none;
}

.close:hover {
 color:darkred;
}



/* Chart slider */
#chart_slider{
 position: fixed;
 bottom: -100%;
 left: 0%;
 height: 55%; 
 background-color: #fff;
 box-shadow: 2px 0px 8px rgba(0, 0, 0, .4);
 width: 100%;
 display: block;
 z-index: 5;
}

#chart_content {
 position: absolute;
 width: 100%;
 top: 0px;
 bottom: 0px;
/* 
 overflow: scroll;
 -webkit-overflow-scrolling: touch;
*/ 
}

